p{
    text-align: center;
    font-size: 25px;
    color: cadetblue;
    font-family: fantasy;

}

.imgBox{

    width: 50%;
    height: 500px;
    margin: 0 auto;
    
}

.imgBox img{
    width: 350px;
    height: 500px;
    margin: 0 auto;


}

.img1{
    display: block;
}

.img2{
    display: none;
}

.img3{
    display: none;
}